*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    min-height: 100vh;
    overflow: hidden;
    position: relative;
}
.container div{
    position: absolute;
    border-radius: 3rem;
    animation: gradient 4s infinite;
}
@keyframes gradient{
    50% {
        transform: scale(1.3)translate(100px);

    }
}
.container div:nth-child(1){
    width: 140%;
    height: 110%;
    background: #ff057c;
    left: -5%;
    top: -5%;
}
.container div:nth-child(2){
    width: 70%;
    height: 80%;
    background: #6802b6;
    top: -12%;
    right: -12%;
    animation-delay: 1s;
}
.container div:nth-child(3){
    width: 50%;
    height: 50%;
    background: #f19112;
    bottom: -10%;
    left: -5%;
    animation-delay: .75s;
}
.container div:nth-child(4){
    width: 80%;
    height: 65%;
    background: #f35213;
    bottom: -15%;
    right: -20%;
    animation-delay: 1.5s;
}
.container div:nth-child(5){
    width: 60%;
    height: 50%;
    background: #11f577;
    animation-delay: 1.9s;
    bottom: 0;
    right: 50%;
}
.container::after{
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    backdrop-filter: blur(200px);
}
@keyframes float {
    0%   { transform: translate(-50%, 0); }
    50%  { transform: translate(-50%, -12px); }
    100% { transform: translate(-50%, 0); }
}

.title{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
    animation: float 3.5s ease-in-out infinite;
    pointer-events: none;
}

.title h1{
    color: #fff;
    font-family: 'Baloo 2', cursive;
    font-weight: 700;
    font-size: 3rem;
    margin-bottom: 0.25rem;
}

.title h2{
    color: #fff;
    font-family: 'Baloo 2', cursive;
    font-weight: 700;
    font-size: 1.25rem;
}